<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hey, Moussaillon !</h1>
          <p>Bienvenue sur le site du club de THP !</p>
          <p>Pour visiter le site clic ici ? </p>

      </div>
      </div>
      <h1>Voici les personalités adhérentes à notre club THP</h1>

      <% @users.each do |user| %>
          <p>Nom:<%= user.first_name %>, Prenom: <%= user.last_name %>, email: <%= user.email %></p>
          <% end %>

    </main>
