<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hey, Moussaillon !</h1>
          <p>Bienvenue sur le site du club de THP !</p>
          <p>Pour visiter le site clic ici ? </p>

          <p><a class="btn btn-primary btn-lg" href="<%=  %>" role="button">Voir la réponse »</a></p>
        </div>
      </div>



    </main>
